.flower {
    position: absolute;
    transform-origin: center;
    animation: rotate infinite linear;
    pointer-events: none;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}